body {
    background-color: lightgray;
}

#AnnZhang {
    background-color: mediumturquoise;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    border: mediumturquoise;
    border-width: 50px;
    font-size: xx-large;
    margin-left: 100px;
    margin-right: 800px;
    
}

#navbar {
    font-size: small;
    color: grey;
}