body {
    background-color: lightgray;
}

#AnnZhang {
    background-color: mediumturquoise;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    border: mediumturquoise;
    border-width: 50px;
    
}

#navbar {
    font-size: small;
    color: grey;
}